* {
    font-family: 'Mooli', sans-serif;
}

body {
    margin-left: 64px;
    margin-right: 64px;
    padding: 0px;
    background-image: url('images/fundo2.jpg');
    font-size: 15px;
}

header
{
    background-color: #9fd2fc;
    margin-right: -64px;
    margin-left: -64px;
    margin-top: -8px;
    padding-bottom: 36px;
    box-shadow: 2px 2px 2px 2px #0b2b4533;
}

.logo
{
    margin-left: 133px;
    margin-bottom: -136px;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.linkagem {
    padding-left: 1178px;
    margin-top: -47px;
}

.H2DoUsuario {
    margin-top: 53px;
}

.Favoritos {
    width: 45px;
    height: 40px;
    padding-left: 200px;
    margin-top: 10px;
}

.iconperfil {
    margin-top: 10px;
}

.txtUsuario {
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Estrelinhas {
    display: flex;
}

.FotoEstrelinha {
height: 40px;
    width: 40px;
    margin: 0px;
    padding-left: 20px;
}

.DivisaoUsuario {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    background-color: #c55d8a;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #91556f63;
    width: 325px;
}

.DivisaoJogos
{
}

.Pontinhos {
    width: 143px;
    height: 143px;
    margin-bottom: 0px;
    padding-left: 750px;
    padding-top: 7px;
}

#login
{
    display: flex;
    align-items: center;
    gap: 8px;
}

img
{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-left: 67px;
}

p
{
    text-align: center;
    color: white;
    text-decoration: none;
}

input {
    border-radius: 7px;
    width: 23%;
    height: 25px;
    margin-left: 346px;
}

.perfil-rating
{
    display: flex;
    align-items: center;
}

button
{
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

button i
{
        margin-right: 5px; 
        color: white; 
}

h2 {
    color: white;
    text-align: left;
    padding-bottom: 3px;
    padding-top: 29px;
}

h3{
    color: white;
    text-align: center;
}

/*Media Query 600px*/
@media (max-width: 600px)
{

    header {
        display: flex;
        background-color: #9fd2fc;
        margin-right: -455px;
        margin-left: -64px;
        margin-top: -8px;
        padding-bottom: 36px;
        box-shadow: 2px 2px 2px 2px #0b2b4533;
    }
}