* {
    font-family: 'Mooli', sans-serif;
}

body {
    margin-left: 64px;
    margin-right: 64px;
    padding: 0px;
    background-image: url('images/fundo2.jpg');
    font-size: 15px;
}

header {
    background-color: #9fd2fc;
    margin-right: -24%;
    margin-left: -64px;
    margin-top: -8px;
    padding-bottom: 36px;
    box-shadow: 2px 2px 2px 2px #0b2b4533;
}

.logo
{
    margin-left: 133px;
    margin-bottom: -136px;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.linkagem {
    padding-left: 1178px;
    margin-top: -47px;
}

.H2DoUsuario {
    margin-top: 53px;
}

.Favoritos {
    width: 45px;
    height: 40px;
    padding-left: 200px;
    margin-top: 10px;
}

.iconperfil {
    margin-top: 10px;
}

.txtUsuario {
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Estrelinhas {
}

.FotoEstrelinha {
    height: 40px;
    width: 40px;
    margin: 0px;
    padding-left: 20px;
}

.DivisaoUsuario {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    background-color: #c55d8a;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #91556f63;
    width: 325px;
}

.DivisaoJogos
{
}

.Pontinhos {
    width: 113px;
    height: 49px;
    margin-top: 10px;
    padding-left: 750px;
    padding-top: 7px;
    margin-bottom: 0px;
}

#login
{
    display: flex;
    align-items: center;
    gap: 8px;
}

img
{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-left: 67px;
}

p
{
    text-align: center;
    color: white;
    text-decoration: none;
}

input {
    border-radius: 7px;
    width: 23%;
    height: 25px;
    margin-left: 346px;
}

.perfil-rating
{
    display: flex;
    align-items: center;
}

button
{
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
}

button i
{
    margin-right: 5px; 
    color: white; 
}

h2 {
    color: white;
    text-align: left;
    padding-bottom: 3px;
    padding-top: 29px;
}

h3{
    color: white;
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 480px) {

    body{
        font-size: 11px;
    }
    header {
        display: flex;
        margin-right: -24%;
        padding-bottom: 27px;
    }

    .logo {
        margin-left: 4px;
        margin-bottom: -50px;
        width: 87px;
        height: 85px;
    }

    input {
        width: 26%;
        margin-left: 5%;
        margin-top: 4%;
        height: 30%;
        font-size: 98%;
    }

    .linkagem {
        padding-left: 125%;
        margin-top: 7%;
    }

    section {
        display: initial;
        margin-top: 0px;
    }

    .H2DoUsuario {
        font-size: 134%;
        margin-top: 7%;
        margin-left: -11%;
    }

    .DivisaoUsuario {
        width: 128%;
        margin-left: -13%;
        margin-bottom: 16%;
    }

    .Favoritos {
        width: 7%;
        height: 4%;
        padding-left: 88%;
        margin-left: 0px;
    }

    .iconperfil {
        width: 31%;
        height: 20%;
        margin-left: 34%;
    }

    .txtUsuario {
        font-size: 112%;
        padding-right: 2%;
        padding-left: 2%;
    }

    h3 {
        font-size: 138%;
        margin-right: 0%;
    }

    .FotoEstrelinha {
        width: 6%;
        height: 8%;
        padding-left: 11%;
    }

    .Pontinhos {
        padding: 0px;
        margin-left: 36%;
        margin-right: 36%;
        width: 33%;
        height: 13%;
    }

    .H2DoJogo {
        font-size: 134%;
        margin-top: 7%;
        margin-left: -11%;
    }

    .DivisaoJogos {
        margin-right: 62%;
    }

    .imgjogo {
        margin-left: 27%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    header {
        display: flex;
        margin-right: -131%;
        padding-bottom: 27px;
    }

    .logo {
        margin-left: 4px;
        margin-bottom: -69px;
        width: 165px;
        height: 152px;
    }

    input {
        width: 40%;
        margin-left: 15%;
        margin-top: 4%;
        height: 30%;
        font-size: 98%;
    }

    .linkagem {
        padding-left: 285%;
        margin-top: 55%;
    }

    section {
        display: initial;
        margin-top: 0px;
    }

    .DivisaoUsuario {
        margin-left: 38%;
        margin-bottom: 15%;
        /* width: 110%; */
        zoom: 190%;
        margin-top: 6%;
    }
}